In [88]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

HIV_data1 = pd.read_csv('HIV1.csv')
HIV_data1.head()

# HIV_data2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,AFG,Children (ages 0-14) newly infected with HIV,SH.HIV.INCD.14,NaN,NaN,NaN,NaN,NaN,NaN,...,100,100,100,100,100,100,100,100,100.0,NaN
1,Angola,AGO,Children (ages 0-14) newly infected with HIV,SH.HIV.INCD.14,NaN,NaN,NaN,NaN,NaN,NaN,...,6800,7200,7300,6900,6400,6500,7000,7600,7000.0,NaN
2,Argentina,ARG,Children (ages 0-14) newly infected with HIV,SH.HIV.INCD.14,NaN,NaN,NaN,NaN,NaN,NaN,...,200,200,200,200,200,200,200,100,100.0,NaN
3,Australia,AUS,Children (ages 0-14) newly infected with HIV,SH.HIV.INCD.14,NaN,NaN,NaN,NaN,NaN,NaN,...,100,100,100,100,100,100,100,100,100.0,NaN
4,Burundi,BDI,Children (ages 0-14) newly infected with HIV,SH.HIV.INCD.14,NaN,NaN,NaN,NaN,NaN,NaN,...,1800,1700,1600,1400,1300,1100,840,830,820.0,NaN

In [71]:
labels = HIV_data1['Country Name']
labels

0                                                  Aruba
1                                            Afghanistan
2                                                 Angola
3                                                Albania
4                                                Andorra
5                                             Arab World
6                                   United Arab Emirates
7                                              Argentina
8                                                Armenia
9                                         American Samoa
10                                   Antigua and Barbuda
11                                             Australia
12                                               Austria
13                                            Azerbaijan
14                                               Burundi
15                                               Belgium
16                                                 Benin
17                                          Burkina Faso
18                                            Bangladesh
19                                              Bulgaria
20                                               Bahrain
21                                          Bahamas, The
22                                Bosnia and Herzegovina
23                                               Belarus
24                                                Belize
25                                               Bermuda
26                                               Bolivia
27                                                Brazil
28                                              Barbados
29                                     Brunei Darussalam
                             ...
234    Latin America & the Caribbean (IDA & IBRD coun...
235                                          Timor-Leste
236    Middle East & North Africa (IDA & IBRD countries)
237                                                Tonga
238                              South Asia (IDA & IBRD)
239            Sub-Saharan Africa (IDA & IBRD countries)
240                                  Trinidad and Tobago
241                                              Tunisia
242                                               Turkey
243                                               Tuvalu
244                                             Tanzania
245                                               Uganda
246                                              Ukraine
247                                  Upper middle income
248                                              Uruguay
249                                        United States
250                                           Uzbekistan
251                       St. Vincent and the Grenadines
252                                        Venezuela, RB
253                               British Virgin Islands
254                                Virgin Islands (U.S.)
255                                              Vietnam
256                                              Vanuatu
257                                                World
258                                                Samoa
259                                               Kosovo
260                                          Yemen, Rep.
261                                         South Africa
262                                               Zambia
263                                             Zimbabwe
Name: Country Name, Length: 264, dtype: object